data_utilities==1.2.9
h5py==2.8.0
matplotlib==2.2.3
numpy==1.15.1
pandas==0.23.4
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
tables==3.4.4
xgboost==0.80

# alabaster==0.7.10
# arabic-reshaper==2.0.14
# astroid==2.0.4
# atomicwrites==1.1.5
# attrs==17.4.0
# Babel==2.5.3
# backcall==0.1.0
# beautifulsoup4==4.6.3
# bleach==2.1.3
# certifi==2018.1.18
# chardet==3.0.4
# configparser==3.5.0
# coverage==4.5.1
# coveralls==1.3.0
# cycler==0.10.0
# -e git+https://github.com/fmv1992/data_utilities.git@33ed2d0d771a4a765bf5504409e5ed1892876f24#egg=data_utilities
# decorator==4.2.1
# defer==1.0.6
# docopt==0.6.2
# docutils==0.14
# dodgy==0.1.9
# entrypoints==0.2.3
# flake8==3.5.0
# flake8-polyfill==1.0.2
# frosted==1.4.1
# future==0.16.0
# greenlet==0.4.13
# html5lib==1.0.1
# idna==2.6
# imagesize==1.0.0
# ipdb==0.11
# ipykernel==4.8.2
# ipython==6.5.0
# ipython-genutils==0.2.0
# isort==4.3.4
# jedi==0.11.1
# Jinja2==2.10
# jsonschema==2.6.0
# jupyter-client==5.2.3
# jupyter-core==4.4.0
# Khayyam==3.0.17
# kiwisolver==1.0.1
# language-selector==0.1
# lazy-object-proxy==1.3.1
# lightdm-gtk-greeter-settings==1.2.1
# lxml==3.5.0
# Markdown==2.6.11
# MarkupSafe==1.0
# mccabe==0.6.1
# mistune==0.8.3
# mock==2.0.0
# more-itertools==4.3.0
# mpmath==1.0.0
# msgpack==0.5.6
# mwclient==0.9.1
# mypy==0.620
# nbconvert==5.3.1
# nbformat==4.4.0
# neovim==0.2.6
# nose==1.3.7
# notedown==1.5.1
# numexpr==2.6.4
# oauthlib==2.1.0
# packaging==17.1
# pandoc-attributes==0.1.7
# pandocfilters==1.4.2
# parso==0.1.1
# pathlib2==2.3.2
# pbr==4.2.0
# pep8-naming==0.7.0
# pexpect==4.4.0
# pickleshare==0.7.4
# pies==2.6.7
# Pillow==3.1.2
# pluggy==0.7.1
# prompt-toolkit==1.0.15
# prospector==1.1.2
# ptyprocess==0.5.2
# Pweave==0.30.3
# py==1.5.4
# py3status==3.12
# pycodestyle==2.3.1
# pycups==1.9.73
# pycurl==7.43.0
# pydocstyle==2.1.1
# pydotplus==2.0.2
# pyflakes==1.6.0
# Pygments==2.2.0
# pygobject==3.20.0
# pylint==2.1.1
# pylint-plugin-utils==0.4
# pyparsing==2.2.0
# pyPEG2==2.15.2
# PyQt5==5.10
# pyroma==2.3.1
# pytest==3.7.2
# python-apt==1.1.0b1+ubuntu0.16.4.2
# python-bidi==0.4.0
# python-dateutil==2.7.2
# python-debian==0.1.27
# python-systemd==231
# pytz==2018.3
# PyYAML==3.13
# pyzmq==17.0.0
# qutebrowser==1.3.3
# reportlab==3.3.0
# requests==2.7.0
# requests-oauthlib==1.0.0
# requirements-detector==0.6
# screen-resolution-extra==0.0.0
# setoptconf==0.2.0
# simplegeneric==0.8.1
# sip==4.19.8
# six==1.11.0
# sklearn==0.0
# snowballstemmer==1.2.1
# Sphinx==1.7.7
# sphinxcontrib-websupport==1.0.1
# ssh-import-id==5.5
# sympy==1.2
# testpath==0.3.1
# tornado==5.0.1
# traitlets==4.3.2
# typed-ast==1.1.0
# ubuntu-drivers-common==0.0.0
# unattended-upgrades==0.1
# Unidecode==1.0.22
# urllib3==1.23
# usb-creator==0.3.0
# -e git+https://github.com/fmv1992/vim_dictionary@cd9007b247a7bb8394cfe8e66a537764e76a0264#egg=vim_dictionary
# virtualenv==16.0.0
# vulture==0.24
# wcwidth==0.1.7
# webencodings==0.5.1
# Wikipedia-API==0.3.7
# wiktionaryparser==0.1
# wrapt==1.10.11
# xkit==0.0.0
# xonsh==0.7.6
# youtube-dl==2018.9.18
